@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(/assets/images/bg.jpg);
    height: 90vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);


}

.main .box {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 85vw;
    margin: auto;
    /* background-color: azure; */
    height: 88px;
}

nav img {
    height: 40px;
    position: relative;
    z-index: 10;
    width: auto;

}

.btn {
    position: relative;
    z-index: 10;
    background-color: rgb(193, 17, 25);
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 6px;
    padding: 9px 15px;
    font-size: 16px;
    cursor: pointer;



}

.btn-red {
    position: relative;
    z-index: 10;
    background-color: rgb(193, 17, 25);
    color: white;
    border: none;
    font-weight: bold;
    padding: 12px 48px;
    border-radius: 6px;
    font-size: 24px;
    cursor: pointer;




}


.hero {
    height: calc(100% - 88px);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;



}

.hero> :nth-child(1) {
    font-family: "Martel Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;

}

.hero> :nth-child(2) {
    font-family: "Martel Sans", sans-serif;

    font-weight: 500;
    font-size: 20px;
}

.hero>:nth-child(3) {
    font-family: "Martel Sans", sans-serif;

    font-weight: 400;
    font-size: 16px;
    padding: 17px;
    ;
}

.email {
    display: flex;
    flex-direction: row;
    gap: 4px;

}

/* .email input{
} */

.seperation {
    height: 4px;
    background-color: rgb(43, 43, 43);


}


.hero input {
    padding: 12px 48px;
    border-radius: 6px;
    font-size: 17px;
    background-color: rgba(23, 23, 23, 0.7);
    padding: 1px 137px 0px 16px;
    border: 1px solid rgba(23, 23, 23, 0.3);
    color: white;
    cursor: pointer;

}


.first {
    display: flex;
    max-width: 80vw;
    margin: auto;

}

.text {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    max-width: 80vw;
    margin: auto;
    padding: 20px 0px;
    color: white;
    font-size: 24px;
    font-weight: bolder;
}



.images {
    display: flex;
    flex-direction: row;
    gap: 20px;




}

.images img {
    /* width: 100%; */
    /* height: auto; */
    border-radius: 6px;



}

.more-reason {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* text-align: center; */
    /* justify-content: flex-start; */
    max-width: 80vw;
    margin: auto;
    padding: 20px 0px;
    color: white;
    gap: 23px;
    /* font-size: 24px; */
    /* font-weight: bolder; */

}


.more-text {

    padding: 20px 0px;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    max-width: 80vw;
    margin: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: flex-start;


}

.cards-more {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
    width: auto;
    border: none;
    gap: 23px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    padding: 23px;
    border-radius: 12px;
    position: relative;
}


.cards-more-bold {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.cards-more-light {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

.cards-icon {
    position: absolute;
    object-fit: contain;
    right: 16px;
    width: 72px;
    bottom: 16px;
    height: 72px;
}




.faq h2{
    color: white;
    max-width: 80vw;
    margin: auto;
    padding-bottom: 23px;

    
    
}

.faqbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    margin-bottom: 17px;
    padding: 30px;
    gap: 30px;
    color: white;
    background-color: rgb(42, 40, 40);
    font-size: 24px;
    font-weight:500;
    gap: 30px;
    cursor: pointer;
    transition: all 1s ease-out ;



   
}

.faqbox:hover{
    background-color: rgba(49, 49 ,49, 1);
    
}


.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 80vw;
    margin: auto;
    color: white;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 18px;
    /* color: white; */
}


footer{
    max-width: 80vw;
    margin: auto;
    height: 30vh;
}

.footer-question{

    margin: 35px 0px;

}

footer a{
    color: rgb(163, 158, 158);
    cursor: pointer;
    font-size: 15px;
}

.final-boss{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 80vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    
}

.final-boss input{

    padding: 12px 48px;
    border-radius: 6px;
    font-size: 17px;
    background-color: rgba(23, 23, 23, 0.7);
    padding: 1px 137px 0px 16px;
    border: 1px solid rgba(23, 23, 23, 0.3);
    color: white;

    

}

.last-ride{

    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 80vw;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    color: rgb(107, 107, 107);
    font-size: 13px;
    height: 30vh;

}

.last-ride button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border-radius: 8px;
    margin: 52px 0px;
    color:white ;
    background-color: rgba(23, 23, 23, 0.7); ;
    border: 1px solid  rgb(252, 252, 252);
    height: auto ;
    text-align: center;
    padding: 7px 12px;
    font-weight: 700;
    font-size: 17px;


    
}