@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url(/assets/images/bg.jpg);
    height: 90vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);


}

.main .box {
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 85vw;
    margin: auto;
    /* background-color: azure; */
    height: 88px;
}

nav img {
    height: 40px;
    position: relative;
    z-index: 10;
    width: auto;

}

.btn {
    position: relative;
    z-index: 10;
    background-color: rgb(193, 17, 25);
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 6px;
    padding: 9px 15px;
    font-size: 16px;
    cursor: pointer;



}

.btn-red {
    position: relative;
    z-index: 10;
    background-color: rgb(193, 17, 25);
    color: white;
    border: none;
    font-weight: bold;
    padding: 12px 48px;
    border-radius: 6px;
    font-size: 24px;



}


.hero {
    height: calc(100% - 88px);
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;



}

.hero> :nth-child(1) {
    font-family: "Martel Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;

}

.hero> :nth-child(2) {
    font-family: "Martel Sans", sans-serif;

    font-weight: 500;
    font-size: 20px;
}

.hero>:nth-child(3) {
    font-family: "Martel Sans", sans-serif;

    font-weight: 400;
    font-size: 16px;
    padding: 17px;
    ;
}

.email {
    display: flex;
    flex-direction: row;
    gap: 4px;

}

/* .email input{
} */

.seperation {
    height: 4px;
    background-color: rgb(43, 43, 43);


}


.hero input {
    padding: 12px 48px;
    border-radius: 6px;
    font-size: 17px;
    background-color: rgba(23, 23, 23, 0.7);
    padding: 1px 137px 0px 16px;
    border: 1px solid rgba(23, 23, 23, 0.3);
    color: white;
}


.first {
    display: flex;
    max-width: 80vw;
    margin: auto;

}

.text{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
    max-width: 80vw;
    margin: auto;
    padding: 20px 0px;
    color: aliceblue;
    font-size: 24px;
    font-weight: bolder;
}



.images {
    display: flex;
    flex-direction: row;
    gap: 20px;


}

.images img {
    /* width: 100%; */
    /* height: auto; */
    border-radius: 6px;



}

.more-reason{
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    /* justify-content: flex-start; */
    max-width: 80vw;
    margin: auto;
    padding: 20px 0px;
    color: white;
    /* font-size: 24px; */
    /* font-weight: bolder; */
}






